body {
    font-family: "Montserrat";
    text-align: center;
}

h1,
h2,
h3 {
    font-family: "Montserrat-black";
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

.feature-title {
    font-family: "Montserrat-black";
    font-size: 1.5rem;
}

p {
    color: #8f8f8f;
    font-family: "Montserrat-black";
    font-size: 1.5rem;
}

.navbar-nav {
    margin-left: 500px;
}

#title {
    background-color: #ef8172;
    color: white;
    text-align: left;
}


/*Navigation Bar*/

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 4.5rem;
    font-weight: bold;
}

.navbar {
    padding-bottom: 2.5rem;
}

.nav-item {
    padding-left: 80px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-black";
}

.download-button {
    margin: 5% 3% 5% 0%;
}

.title-image {
    width: 50%;
    transform: rotate(25deg);
}

.fa {
    color: #fff;
}

#features {
    background-color: #fff;
    padding: 7% 15%;
}

.feature-box {
    padding: 3%;
}

.icon {
    color: #ef8172;
}

.icon:hover {
    color: #ff4c68;
}

#testimonials {
    background-color: #ef8172;
    color: white;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.carousel-item {
    padding: 7% 20%;
}

em {
    font-family: "Montserrat-black";
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.pricing1 {
    color: white;
}

#cta {
    background-color: #ff4c68;
    color: white;
    padding: 7% 15%;
    margin-top: 80px;
}

.cta-heading {
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}

#footer {
    padding: 5% 15%;
}

.social-icon {
    margin: 20px 10px;
    color: black;
}

.copyright {
    font-size: 1.2rem;
}

@media (max-width: 1028px) {
    /* viewport size 1028px or lesser than 102px*/
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
        /* rotate back to zero*/
    }
}