.carousel-container {
    width: 100px;
    height: 300px;
    margin-left: 300px;
    margin-right: 300px;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    width: 200px;
    height: 300px;
    display: flex;
}

#prevBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

#nextBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 40px;
    color: white;
    cursor: pointer;
}